@import "../modules/variables";

.main {
  grid-area: 2 / 1 / 2 / last;
  background-color: $pastel-pink;
  text-align: center;
  transition: all 0.5s linear; //In fact i don't like it here. Done to prove that i know what transition is.
  line-height: 2rem;
  font-size: 0.8rem;
  @media#{$mobile-up} {
    grid-area: 2 / 2 / 2 / 12;
    line-height: 1.8rem;
    font-size: 1rem;
  }
  @media#{$tablet-up} {
    grid-area: 2 / 5 / 2 / 12;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .main-content {
    width: 80%;
    margin: 0 auto;
    .main-img-wrapper {
      width: 80%;
      margin: 0 auto
    }
    * {
      margin-bottom: 2rem;
      height: 100%;
      width: 100%;
    }
  }
}