body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 3.5em;
    animation: flash 4s infinite;
}

@keyframes flash {
    0% {color: #BF8B00}
    12.5% {color: #babf00}
    25% {color: #2bbf00}
    37.5% {color: #00bfa5}
    50% {color: #0015bf}
    62.5% {color: #dc00ff}
    75% {color: #ff003e}
    87.5% {color: #cc4e00}
    100% {color: #434343}
}