$mobile-up: "screen and (min-width: 600px)";
$tablet-up: "screen and (min-width: 1024px)";

$transparent-black: rgba(0, 0, 0, 0.5);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$pastel-grey: rgb(238,233,233);
$pastel-grey-dark: rgb(205,201,201);
$pastel-pink: rgb(255,228,225);


